main{
    display: grid;
    grid-template-columns: .4fr .5fr .5fr .5fr;
}

header {
    text-align: left;
}

img {
    height: 200px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
}

#voteContainer {
    display: grid;
    grid-template-columns: auto;
    border: solid black 4px;
    align-items: center;
}

#voteContainer > div {
    justify-content: flex-end;
    text-align: center;
}

#chartArea{
    display: grid;
    /* grid-template-rows: 1fr;
    align-content: center;
    align-items: center;
    justify-content: center; */
}

#myChart{
    align-self: center;
    justify-content: center;
}
