body{
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(24, 23, 23);
}
main{
    display: grid;
    grid-template-columns: 600px 220px 220px 220px;
    grid-template-rows: auto;
    grid-template-areas: 
    
    "sidebar header header header"
    "sidebar main main main"
    "footer footer footer footer";
    /* align-content: stretch; */
    /* grid-template-rows: .3fr 1fr 1fr; */
}

header {
    background-color: rgb(25, 119, 80);
    height: 60px;
    text-align: left;
    margin-bottom: 0px;
}

hr{
    background-color: white;
    height:10px;
    margin-top: 0px;
}

img {
    height: 200px;
    width: 200px;
    margin-left: 0px;
    margin-right: 0px;
    justify-self: start;
    border: solid rgb(25, 119, 80) 5px;
}

#voteContainer {
    width: 300px;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    align-items: center;
}

#voteContainer > div {
    text-align: center;
    
}

#chartArea{
    grid-column: 1;
    grid-row: 2;
    
    /* try assigning to specific grid areas  */
}

#myChart{
    max-width: 400;
    max-height: 500;
}

p{
    grid-column: span 3;
}